alabaster==0.7.6
apache-log-parser==1.6.1
appnope==0.1.0
Babel==2.0
basemap==1.0.7
beautifulsoup4==4.4.0
brewer2mpl==1.4
certifi==2015.4.28
Cython==0.22.1
decorator==4.0.2
docutils==0.12
ggplot==0.6.5
gnureadline==6.3.3
ipykernel==4.0.3
ipyparallel==4.0.2
ipython==4.0.0
ipython-genutils==0.1.0
ipython-sql==0.3.6
ipywidgets==4.0.2
jdcal==1.0
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.0.0
jupyter-console==4.0.0
jupyter-core==4.0.4
MarkupSafe==0.23
matplotlib==1.4.3
mistune==0.7
nbconvert==4.0.0
nbformat==4.0.0
nose==1.3.4
notebook==4.0.4
numexpr==2.4
numpy==1.9.2
openpyxl==1.8.6
pandas==0.16.2
path.py==7.6.1
patsy==0.3.0
pexpect==3.3
pickleshare==0.5
prettytable==0.7.2
psutil==3.1.1
psycopg2==2.6.1
ptyprocess==0.5
Pygments==2.0.2
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.4
pyzmq==14.7.0
qtconsole==4.0.1
runipy==0.1.3
scikit-learn==0.16.1
scipy==0.16.0
seaborn==0.6.0
simplegeneric==0.8.1
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
SQLAlchemy==1.0.8
sqlparse==0.1.16
statsmodels==0.6.1
sympy==0.7.6
terminado==0.5
tornado==4.2.1
traitlets==4.0.0
ua-parser==0.3.6
user-agents==0.3.2
